/* News Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 20px;
    margin-left: 0;
}

.navbar, .navbar-bottom {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.navbar a, .navbar-bottom a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
  }
  
  .sidebar .profile {
    text-align: center;
  }
  
  .sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .sidebar h3, .sidebar p {
    margin: 0;
    font-size: 14px;
    color: #ddd;
  }
  
  .sidebar h3 {
    font-size: 18px;
    font-weight: bold;
  }

#newsList {
    margin-top: 20px;
}

.newsItem {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.newsItem:hover {
    background-color: #e0e0e0;
}

.newsItem h2 {
    margin: 0;
}

.newsItem p {
    margin: 10px 0;
}

#menuBtn {
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

/* Bottom navbar icons */
.navbar-bottom img {
    width: 30px;
    height: 30px;
}
